/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */
/* Set for all pages */
* {
  box-sizing: border-box;
}
   body {
   font-family: Arial, sans-serif;
}
/* Main heading styles */
   h1{
   color: rgb(46, 46, 124);
}
/* main subheading styles */
h2{
   color: rgb(132, 33, 225);
   background-color: rgb(255, 198, 255);
}
/* main paragraph styles */
p{
   font-size: 16px;
   color: rgb(47, 47, 47);
   text-align: center;
   line-height: 1.5;

}
/* Introduction styles */
.intro{
   font-style: italic;
   font-size: 18px;
   color: rgb(0, 0, 0);
}
/* id styles */
#summit{
   background-color: rgb(255, 246, 178);
   font-size: 36px;
   color: rgb(252, 164, 0);
}
/* heading and subheading styles */
h1 , h2{
   text-align: center;
}
/* cascade rules */
p {
    color: darkgreen;
}
/* div styles */
.card {
   background-color: rgb(182, 191, 255);
   border: 2px solid rgb(63, 75, 166);
   border-radius: 10px;
   padding: 20px;
   margin-bottom: 20px;
   width: 600px;
   margin-left: auto;
   margin-right: auto;
}
.paragraph-one {
   margin-top: 10px;  
}

.paragraph-two {
   margin-bottom: 80px;  
}